.slot-machine {
 display: flex;
 justify-content: center;
 align-items: center;
 background: url(/public/board.png) no-repeat center center;
 background-size: 780px 576px;
 padding: 100px 20px;
}

.slot-machine-frame {
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

.reels-container {
 display: flex;
 top: 23px;
 gap: 12px;
 padding: 20px;
 border-radius: 15px;
 border: 3px solid rgba(255, 255, 255, 0.2);
 position: relative;
}

@media (max-width: 768px) {
  .slot-machine {
  background-size: 486px 348px;
  }

  .slot-machine-frame {
    padding: 15px;
  }

  .reels-container {
    gap: 7px;
    padding: 10px;
    top: 14px;
  }
}

