.slot-machine {
 margin-bottom: -13px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: url(/public/board.png) no-repeat center center;
 background-size: 630px 414px;
 padding: 81px 20px;
}

.slot-machine-frame {
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.reels-container {
    display: flex;
    top: 16px;
    gap: 9px;
    padding: 0px;
    border-radius: 15px;
    position: relative;
}

@media (max-width: 768px) {
  .slot-machine {
  background-size: 486px 348px;
  }

  .slot-machine-frame {
    padding: 15px;
  }

  .reels-container {
    gap: 7px;
    padding: 10px;
    top: 14px;
  }
}

