.slot-machine {
    position: relative;           /* обязательно */
    /* убираем background отсюда полностью */
    margin-top: -15px;
    margin-bottom: -13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    overflow: hidden;             /* на всякий случай */
}

.slot-machine::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 3;                   /* под всем остальным */
    pointer-events: none;
    background: url(/public/board.png) no-repeat center center;
    background-size: 650px 440px;
}

.slot-machine-frame {
  padding: 20px;
  z-index: 2;
  border-radius: 20px;
  position: relative;
}

.reels-container {
    display: flex;
    top: 16px;
    gap: 9px;
    padding: 0;
    border-radius: 15px;
    position: relative;
}

@media (max-width: 901px) {
  .slot-machine {
  background-size: 486px 348px;
  }

  .slot-machine-frame {
    padding: 15px;
  }

  .reels-container {
    gap: 7px;
    padding: 10px;
    top: 14px;
  }
}

@media (max-width: 900px) and (max-height: 500px) {
    .slot-machine {
        background-size: 475px 250px;
        margin-top: -88px;
    }
    .slot-machine-frame {
        padding: 0;
    }
    .reels-container {
        gap: 7px;
        padding: 11px;
        top: 11px;
    }
}

@media (max-width: 480px) {
    .slot-machine {
        background-size: 357px 275px;
        margin-top: -28px;
    }

    .slot-machine-frame {
        padding: 0;
    }

    .reels-container {
        gap: 6px;
        padding: 10px;
        top: 10px;
    }
}